/*----------------------------------------------------
	common
----------------------------------------------------*/
#container,
header,
footer {
	width: 100%;
}

#content,
#gnav ul,
.wrapper {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#btnPagetop {
	width: 45px;
	height: 45px;
	position: fixed;
	bottom: -45px;
	right: 15px;
	z-index: 9999;
}

/*----------------------------------------------------
	header
----------------------------------------------------*/

/*----------------------------------------------------
	gnav
----------------------------------------------------*/
#gnav ul li {
	float: left;
}

/*----------------------------------------------------
	main
----------------------------------------------------*/


/*----------------------------------------------------
	footer
----------------------------------------------------*/
footer nav ul li {
	float: left;
}
#copyright {
	text-align: center;
}